@tailwind base;

@custom-variant dark (&:is(.dark *));
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 253.3333 100% 98.2353%;
    --foreground: 254.0625 37.2093% 33.7255%;
    --card: 0 0% 100%;
    --card-foreground: 254.0625 37.2093% 33.7255%;
    --popover: 0 0% 100%;
    --popover-foreground: 254.0625 37.2093% 33.7255%;
    --primary: 260 28.9157% 67.451%;
    --primary-foreground: 0 0% 100%;
    --secondary: 16.1538 86.6667% 94.1176%;
    --secondary-foreground: 18.5185 65.8537% 48.2353%;
    --muted: 253.3333 24.3243% 92.7451%;
    --muted-foreground: 255.3488 18.2979% 46.0784%;
    --accent: 106.9565 74.1935% 93.9216%;
    --accent-foreground: 106.8 28.7356% 34.1176%;
    --destructive: 0 100% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 253.3333 24.3243% 92.7451%;
    --input: 253.3333 24.3243% 92.7451%;
    --ring: 260 28.9157% 67.451%;
    --chart-1: 260 28.9157% 67.451%;
    --chart-2: 107.1429 31.5315% 56.4706%;
    --chart-3: 19.5181 54.9669% 70.3922%;
    --chart-4: 254.0625 37.2093% 33.7255%;
    --chart-5: 106.8 28.7356% 34.1176%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 254.0625 37.2093% 33.7255%;
    --sidebar-primary: 260 28.9157% 67.451%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 106.9565 74.1935% 93.9216%;
    --sidebar-accent-foreground: 106.8 28.7356% 34.1176%;
    --sidebar-border: 253.3333 24.3243% 92.7451%;
    --sidebar-ring: 260 28.9157% 67.451%;
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-serif: PT Serif, serif;
    --font-mono: Roboto Mono, monospace;
    --radius: 1rem;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0rem;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 265 20.6897% 11.3725%;
    --foreground: 253.3333 100% 98.2353%;
    --card: 257.1429 18.4211% 14.902%;
    --card-foreground: 253.3333 100% 98.2353%;
    --popover: 265 20.6897% 11.3725%;
    --popover-foreground: 253.3333 100% 98.2353%;
    --primary: 260 28.9157% 67.451%;
    --primary-foreground: 265 20.6897% 11.3725%;
    --secondary: 107.1429 31.5315% 56.4706%;
    --secondary-foreground: 265 20.6897% 11.3725%;
    --muted: 267 16.9492% 23.1373%;
    --muted-foreground: 260 28.9157% 67.451%;
    --accent: 257.1429 17.9487% 30.5882%;
    --accent-foreground: 253.3333 24.3243% 92.7451%;
    --destructive: 0 88.4615% 30.5882%;
    --destructive-foreground: 210 60% 98.0392%;
    --border: 267 16.9492% 23.1373%;
    --input: 267 16.9492% 23.1373%;
    --ring: 260 28.9157% 67.451%;
    --chart-1: 260 28.9157% 67.451%;
    --chart-2: 107.1429 31.5315% 56.4706%;
    --chart-3: 19.5181 54.9669% 70.3922%;
    --chart-4: 254.0625 37.2093% 33.7255%;
    --chart-5: 106.8 28.7356% 34.1176%;
    --sidebar: 257.1429 18.4211% 14.902%;
    --sidebar-foreground: 253.3333 100% 98.2353%;
    --sidebar-primary: 260 28.9157% 67.451%;
    --sidebar-primary-foreground: 265 20.6897% 11.3725%;
    --sidebar-accent: 257.1429 17.9487% 30.5882%;
    --sidebar-accent-foreground: 253.3333 24.3243% 92.7451%;
    --sidebar-border: 267 16.9492% 23.1373%;
    --sidebar-ring: 260 28.9157% 67.451%;
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-serif: PT Serif, serif;
    --font-mono: Roboto Mono, monospace;
    --radius: 1rem;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
  --animate-shine: shine var(--duration) infinite linear;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
